body {
    margin: 0px;
    color: white;
    background-image: linear-gradient(to right, #000000 60%, #464646);
}

h1 {
    font-size: 450%;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    margin-left: 20px;
}

h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
}

header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
}


#title_bar {
    color: white;
    text-decoration: none;
    font-size: 300%;
    margin-right: 20px;
}

#title_bar span {
    color: #d8b112;
}

.menu_bar {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;

    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.menu_bar li {
    float: left;
    display: inline;

}

.menu_bar li a {
    color: #d8b112;
    text-decoration: none;
    margin-right: 55px;
}


.menu_bar li a:hover {
    color: #464646;
}