div.all_content {
    display: flex;
    flex-direction: column;
}

div.pic_text_content {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    margin-bottom: 40px;
}

div.pic_text_content img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 20px;
}

div.pic_text_content p {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0px;
    text-indent: 60px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    font-size: clamp(16px, 2vw, 32px);
}

div.pic_text_content_re {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: 30px;

}

div.pic_text_content_re img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 20px;

}

div.pic_text_content_re p {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0px;
    text-indent: 60px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    font-size: clamp(16px, 2vw, 32px);
}

#picture_wonderworld {
    width: 50%;
    height: auto;
    border-radius: 20px;
    margin: 20px;
}


@media screen and (max-width: 1130px) {
    div.pic_text_content {
        display: flex;
        flex-direction: column;
    }

    div.pic_text_content img {
        width: 65%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    div.pic_text_content_re {
        display: flex;
        flex-direction: column;
    }

    div.pic_text_content_re img {
        width: 65%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

}

#h1_wonderworld {
    font-size: clamp(16px, 2vw, 48px);

}